DISCORD_TOKEN=YOUR_BOT_TOKEN

MONGODB_URI=YOUR_DATABASE_URL

PREFIX=>

OWNER_ID=YOUR_DISCORD_ID
 
LAVALINK_HOST=LAVALINK_URL
LAVALINK_PORT=LAVALINK_PORT
LAVALINK_PASSWORD=LAVALINK_PASSWORD
LAVALINK_SECURE=true

SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_CLIENT_SECRET

GENIUS_API_KEY=YOUR_GENIUS_API_KEY